/* Reset e estilos globais */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

/* Estilos do corpo */
body {
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s ease;
}

/* Estilos das seções */
section {
    width: 100%;
    min-height: 100vh; 
    margin: 0;
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #f5f5f5;
}

/* Estilos para parágrafos */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para o título h2 */
h2 {
    display: block;
    font-size: 1.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para o título h3 */
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para o menu hamburguer em telas pequenas */
@media (max-width: 768px) {
    .header-main {
        display: none; 
    }

    .header-main-ham-content {
        display: block;
    }

    .header-menu-ham {
        display: block;
        background-color: whitesmoke;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .header-menu-ham-links {
        list-style: none;
        padding: 1rem;
    }

    .header-link-menu-ham {
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
    }

    .header-link-menu-ham a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .header-link-menu-ham a:hover {
        color: #70a253;
    }
}

/* Estilos para esconder o menu hamburguer */
.header-main-ham-content {
    display: none;
}

@media (max-width: 768px) {
    .header-main-ham-content {
        display: block;
    }
}

.header-menu-ham {
    display: none;
}

@media (max-width: 768px) {
    .header-menu-ham {
        display: block;
    }
}




/* Header */
.navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    text-decoration: none;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_logo-img{
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
    border: solid 3px #70a253;;
}

.header-logo-span{
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    align-items: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin-left: 15px;
 }


.header-links {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    color: black;
    text-decoration: none;
    margin-right: 56px;
    padding: 2rem 2rem;
}

.header-links li {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header-links a {
    text-decoration: none;
    color: black; 
}

.header-links a:hover {
    color: #70a253; 
}

/* Seção home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para posicionamento relativo de elementos dentro */
    width: 100%;
    height: 100vh;
    background-image: url('/img/top-view-creative-background-with-white-shapes.jpg');
    background: linear-gradient(rgba(255, 255, 255, 0.831), rgba(255, 255, 255, 0.621));
    background-size: cover;
    background-blend-mode: lighten;
    box-sizing: border-box;
}

/* Conteúdo principal da home */
.home-content {
    text-align: center;
    width: 100%;
}

/* Seção de redes sociais */
.home-socials {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
    padding: 10px 0;
    width: 78px;
}

/* Estilo para ícones de redes sociais */
.home-social {
    width: 5rem;
    height: 5rem;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

/* Ícones de redes sociais */
.home-social-icon-link {
    font-size: 45px;
    color: #333;
}

.home-social-icon-link:hover {
    transform: scale(1.2);
}

/* Estilos para a versão responsiva (telas menores que 768px) */
@media (max-width: 768px) {
    .home-socials {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        box-shadow: none;
        display: flex;
    }

    .home-social {
        margin: 0 15px;
        font-size: 1.2rem;
    }
}

/* Informações principais da home */
.primary-info {
    text-align: center;
    margin-bottom: 50px;
    font-size: 5rem;
}

/* Informações pessoais */
.personal-info {
    margin: 3rem auto 0 auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Botão para projetos */
.button-projects {
    margin-top: 4rem;
}

/* Estilo para o botão da home */
.button-home {
    background-color: #70a253;
    color: #70a253;
    padding: 20px 80px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    letter-spacing: 1.5px;
}

.button-home:hover {
    background-color: #66a042;
    transform: scale(1.05);
}



/* Seção about */

.about{
    background-color: rgb(245, 244, 244);
    display: flexbox;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;

}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    padding: 0 rem;
    padding-top: 6rem;
}

.about-content-main{
    grid-column: 1;
    margin-right: 3rem;
}

.about-content-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.about-content-details{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    margin-left: 9rem;
    max-width: 600px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    line-height: 1.8;
}

.about-content-details-text{
    font-size: 20px;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.heading-title{
    padding-top: 8rem;
}

.heading-title-main{
    padding-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: 3px;
}

.under-line{
    content: '';
    position: absolute;
    height: 5px;
    width: 3rem;
    background: #70a253;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.under-line-content-about{
    padding-bottom: 2rem;
}

.heading-title-sub-about{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h3{
    font-size: 25px;
    padding-bottom: 3rem;
    font-weight: 700;
}

.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



.btn-contact{
    background-color: #70a253; /* Cor verde */
    color: white;
    padding: 20px 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    letter-spacing: 1px;
    margin-top: 1.8rem;
    
}



.about-content-skills{
    display:flexbox;

}


.skills-skill{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.skills{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    flex: 1 1 calc(33.333% - 2rem); 
    text-align: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 12rem;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}


/* SEÇÃO PROJETOS */

.projects {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    padding-top: 40rem;
}

.projects-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    padding: 0 2rem;
    
    padding-top: 6rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 6rem 2rem 0;
}

.box-projects{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; /
}

.info-projects{
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 2rem; 
    align-items: center; 
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.info-projects-main{
    max-width: 100%;
}

.img-projects{
    width: 200px; 
    height: auto;
    object-fit: cover;
}

.projeto-txt{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-btn{
    margin-top: 2rem;
    background-color: #70a253; 
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading-title-projects{
    margin-bottom: 2rem;
    font-size: 30px;
    letter-spacing: 3px;
}

.heading-title-sub-projects{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.under-line-content-projects{
    padding-bottom: 2rem;
}

/* SEÇÃO CONTATO */

.contact{
    padding-top: 9rem;
    max-width: 100%;
}

.contact-form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #f4f4f4; 
    width: 100%;
}

.contact-form-container {
    background-color: #fff;
    padding: 4rem;
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80rem; 
    width: 95%;
    margin: 5rem auto 0 auto;
}

.contact-form{
    margin-bottom: 4rem;
    display: block;
    unicode-bidi: isolate;
}

.contact-form-field {
    display: flex;
    background-color: #f4f4f4; 
    padding: 2rem; 
    flex-direction: column; 
    margin-bottom: 4rem;
}

.contact-form-label{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact-form-input{
    padding: 2rem;
    width: 100%;
    border: 1px solid;
    font-size: 1.3rem;
    letter-spacing: 0px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-form{
    background-color:#70a253; 
    color: #fff; 
    padding: 0.75rem;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1.6rem;
    transition: background-color 0.3s ease-in-out; 
    align-self: center; 
    margin-top: 1rem; 
    padding: 20px 90px;
}

.button {
    background-color:#70a253; 
    color: #fff; 
    padding: 0.75rem;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out; 
    align-self: center; 
    margin-top: 1rem; 
}

.button:hover {
    background-color: #70a253; 
}

.heading-title-contact{
    margin-bottom: 2rem;
    font-size: 30px;
    letter-spacing: 3px;
}

.heading-title-sub-contact{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.under-line-content-contact{
    padding-bottom: 2rem;
}

/* Seção footer */

.footer{
    display: flex;
    unicode-bidi: isolate;
    
}

.main-footer{
    background-color: #000;
    color: #fff;
}

.main-footer-content{
    display: block;
    max-width: 95rem;
    margin:auto;
    width: 92%;
    justify-content: center;
}

.main-footer-upper{
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

.footer-row{
    margin-right: 15rem;
}

.footer-social-link{
    margin-top: 2rem;
    margin-right: 6rem;
    font-size: 1.5rem;
    letter-spacing: 1rem;
    display: inline-block;
    color: #fff;
}

.footer-description{
    width: 40%;
    max-width: 50rem;
    text-align: left;
}

.footer-links {
    width: 40%;
    text-align: right; 
}

.footer-social-link a {
    text-decoration: none; 
    color: #fff; 
}

.footer-description-p{
    margin-top: 2rem;
    color: #eee;
    font-size: 1.1rem;
    line-height: 1.7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.footer-low{
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar-header {
    background-color: #1e1e1e;
    color: #fff;
}

body.dark-mode .header-link {
    color: #bbbbbb;
}

body.dark-mode .header-link:hover {
    color: #ffffff;
}

body.dark-mode .home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/top-view-creative-background-with-white-shapes.jpg');
}

body.dark-mode .home-social-icon-link {
    color: #fff; 
}

body.dark-mode .button-home {
    background-color: #3a3a3a;
    color: #ffffff;
}

body.dark-mode .button-home:hover {
    background-color: #555555;
}

body.dark-mode .skills {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .about-content-details-text {
    color: #bbbbbb;
}

body.dark-mode .footer-description p {
    color: #bbbbbb;
}

body.dark-mode .footer-social-link a {
    color: #bbbbbb;
}

body.dark-mode .footer-social-link a:hover {
    color: #ffffff;
}

body.dark-mode .contact-form-label, 
body.dark-mode .contact-form-input {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode  .button-home, .dark-mode .btn-contact, .dark-mode .button-form, .dark-mode .button-projects{
    background-color: #3a663b;
    
}

body.dark-mode .button-form:hover {
    background-color: #555555;
}

body.dark-mode #theme-toggle i {
    color: #f0f0f0;
}

#theme-toggle {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
    color: #bbbbbb;
}

#theme-toggle i {
    font-size: 2rem;
    transition: color 0.3s ease;
}

/* Modo claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .navbar-header {
    background-color: whitesmoke;
    color: black;
}

body.light-mode .header-link {
    color: #333333;
}

body.light-mode .header-link:hover {
    color: #000000;
}

body.light-mode .home-social-icon-link {
    color: #333;
}

body.light-mode .home {
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
}

body.light-mode .button-home {
    background-color: #70a253;
    color: #000000;
}

body.light-mode .button-home:hover {
    background-color: #70a253;
}

body.light-mode .skills {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode .about-content-details-text {
    color: #333333;
}

body.light-mode .footer {
    background-color: #000;
    color: #fff;
}

body.light-mode .footer-description p {
    color: #333333;
}

body.light-mode .footer-social-link a {
    color: #333333;
}

body.light-mode .footer-social-link a:hover {
    color: #000000;
}

body.light-mode .contact-form-label, 
body.light-mode .contact-form-input {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode .button-form {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode .button-form:hover {
    background-color: #e0e0e0;
}

body.light-mode #theme-toggle i {
    color: #333333;
}