/* Estilos Gerais */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

/* Estilo da Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e96106;
  padding: 0.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 1rem;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #c3660f;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-menu li {
    margin: 0;
  }

  .navbar-toggle {
    display: block;
  }
}

/* Estilo das Seções */
section {
  padding: 2rem;
  background-color: #ffffff;
  margin: auto;
  max-width: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#home {
  background-color: black;
  background-size: cover;
  background-position: center;
  color: white; 
  padding: 4rem 2rem; 
  
}

.foto-perfil img {
  max-width: 300px; 
  margin-bottom: 1rem;
  border-radius: 40rem;
  border: solid 3px orangered;
}

.btn-cv{
  margin-left: 5.1rem;
}

.btn-curriculum {
  color: black;
  background-color: orangered;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-curriculum:hover {
  background-color: rgb(240, 96, 43) ;
}

#home-show {
  margin-bottom: 2rem;
}

.name {
  color: var(--main-red);
  text-shadow: rgb(160, 98, 5) 0.01rem 0.1em 0.1em;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: start;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 32rem;
  margin-top: -25rem;
}

.description{
  font-size: 2rem;
  margin-left: 22rem;
  text-align: center;
}

.location{
  font-size: 1rem;
  text-align: center;
  margin-left: 24rem;
  justify-content: center;

}

.icons {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
  margin-left: 24rem;
  font-size: 1.5rem;
}

.icon {
  margin: 0 10px; 
  color: white; 
  text-decoration: none; 
  font-size: 2rem; 
}

.icon:hover {
  color: #ccc; 
}

.about-me {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-left: 26.2rem;
}


body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

/* Modo claro (padrão) */
body {
  background-color: white;
  color: black;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* Estilo do botão */
#toggle-dark-mode {
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  background-color: #e96106;
  color: white;
  border-radius: 2rem;
  margin: 20px;
  transition: background-color 0.3s;
}

#toggle-dark-mode:hover {
  background-color: #db710e;
}

